* {
  box-sizing: border-box;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: sans-serif; }

.header {
  max-width: 100%;
  margin-bottom: 3rem; }

.nav {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute; }

.nav-menu {
  display: flex;
  list-style: none; }

.nav-menu-item {
  font-size: 18px;
  text-transform: uppercase;
  color: black; }

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px; }

.nav-menu-link:hover {
  background-color: #cac7c7;
  transition: .5s; }

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: black !important; }

.logo img {
  height: 150px;
  width: 500px; }

.nav-toggle {
  color: black;
  background: none;
  border: none;
  font-size: 50px;
  padding: 0 20px;
  line-height: 60px;
  display: none; }

.carousel-item img {
  height: 100vh;
  object-fit: cover; }

.header-container {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  z-index: 1;
  top: 40%; }
  .header-container__h2 {
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    padding: 2rem;
    margin: 2rem 2rem 0 0;
    width: 37.5rem; }
  .header-container__img {
    width: 21rem;
    height: 27rem;
    border-radius: 25%;
    box-shadow: 0px 0px 50px #5a5959; }
  .header-container__img a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    padding-left: 6rem;
    padding-top: 2rem;
    z-index: 4;
    text-decoration: black underline;
    transition: .5s; }
  .header-container__img a:hover {
    color: white;
    transform: scale(1.1); }
  .header-container__img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10%; }

.main {
  display: flex; }
  .main__actividades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .main__sumate {
    justify-content: center;
    align-items: center;
    margin: 3rem 0; }
  .main__sumate h3 {
    text-align: center;
    font-size: 3rem;
    padding: 0 30%; }
  .main__sumate p {
    text-align: center;
    padding: 3rem 30%;
    font-size: 1.5rem; }
  .main__actividades-lista {
    width: 100%;
    height: 900px;
    display: flex;
    margin-bottom: 60px; }
  .main__actividades-lista img {
    object-fit: cover;
    width: 100%; }
  .main__contenedor {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 900px;
    justify-content: center; }
  .main__actividad {
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    height: 400px;
    width: 400px;
    margin: auto 15px;
    border-radius: 5%;
    text-align: center; }
  .main__actividad a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder; }
  .main__actividad a:hover {
    color: white; }
  .main__actividad img {
    padding: 10px;
    height: 350px;
    border-radius: 10%; }

.footer {
  max-height: 500px; }
  .footer__fondo {
    width: 100%;
    z-index: 1; }
  .footer__fondo-movil {
    display: none; }
  .footer__contenedor {
    width: 100%;
    height: 100%;
    max-height: 500px;
    position: absolute;
    z-index: 3;
    top: 2600px;
    background-image: url("../img/layered-peaks-haikei.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .footer__contenedor1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50%; }
  .footer__titulo {
    font-size: 2rem; }
  .footer__contenedor2 {
    display: flex;
    justify-content: center;
    margin-top: 200px; }
  .footer__contenedor2 p {
    color: white;
    font-weight: bolder; }
  .footer__redes {
    display: flex;
    justify-content: space-around; }
  .footer__redes a {
    margin-top: 10px;
    text-decoration: none;
    color: black; }
  .footer__redes a i {
    font-size: 50px; }
  .footer__redes a:hover {
    color: black; }
  .footer .icon {
    font-size: 35px;
    margin-right: 10px; }
  .footer__lista {
    padding: 0; }
  .footer__lista li {
    list-style: none;
    margin: 20px 0; }
  .footer__nav-link {
    font-size: 1.1rem;
    text-decoration: none;
    color: black; }
  .footer__nav-link:hover {
    color: black; }

@media (max-width: 768px) {
  body {
    max-width: 100vw; }
  .nav {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    padding: 0; }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-color: #cac7c7;
    position: absolute;
    margin-right: 20px;
    left: 0;
    top: 100px;
    width: 100%;
    max-width: 100%;
    padding: 20px 0;
    left: 100%;
    transition: left 0.3s; }
  .nav-menu-item {
    font-size: 18px;
    text-transform: uppercase;
    color: black; }
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px; }
  .nav-menu-link:hover {
    background: none;
    color: #cac7c7;
    transition: .5s; }
  .nav-link {
    text-decoration: none;
    font-weight: bold;
    color: black !important; }
  .logo img {
    height: 100px;
    width: 250px;
    margin: auto; }
  .carousel-control-prev {
    height: 100px;
    margin: auto 0; }
  .carousel-control-next {
    height: 100px;
    margin: auto 0; }
  .nav-toggle {
    display: block;
    cursor: pointer; }
  .nav-menu_visible {
    left: 0; }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none; }
  .carousel-item img {
    height: 100vh;
    object-fit: cover; }
  .header-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    margin: 0 auto; }
    .header-container__h2 {
      text-align: center;
      color: white;
      font-weight: bolder;
      font-size: 2.5rem;
      padding: 0;
      margin: 0;
      margin-bottom: 2rem;
      width: 100%; }
    .header-container__img {
      width: 100%;
      max-width: 400px;
      height: 15rem;
      border-radius: 25%;
      margin: 0 auto; }
    .header-container__img img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 10%; }
  .main {
    display: flex; }
    .main__actividades {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .main__sumate {
      justify-content: center;
      align-items: center;
      margin: 0rem 0; }
    .main__sumate h3 {
      text-align: center;
      font-size: 2rem;
      padding: 0 5%; }
    .main__sumate p {
      text-align: center;
      padding: 3rem 5%;
      font-size: 1rem; }
    .main__actividades-lista {
      width: 100%;
      height: 1200px;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px; }
    .main__actividades-lista img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    .main__contenedor {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 1200px;
      max-height: 1200px;
      justify-content: center; }
    .main__actividad {
      background: rgba(0, 0, 0, 0.7);
      z-index: 3;
      height: 280px;
      width: 320px;
      margin: 15px auto;
      border-radius: 5%;
      text-align: center; }
    .main__actividad a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      text-align: center;
      font-weight: bolder; }
    .main__actividad a:hover {
      color: white; }
    .main__actividad img {
      padding: 10px;
      height: 230px;
      border-radius: 10%; }
  .footer {
    margin-top: 50px; }
    .footer__fondo {
      width: 100%;
      z-index: 1;
      display: none; }
    .footer__contenedor {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 3;
      top: 0;
      bottom: 0;
      background-image: none; }
    .footer__contenedor1 {
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-direction: column-reverse;
      height: 50%;
      padding: 0 1rem;
      text-align: center; }
    .footer__titulo {
      font-size: 1.5rem; }
    .footer__contenedor2 {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 0; }
    .footer__contenedor2 p {
      color: white;
      font-weight: bolder;
      text-align: center;
      font-size: 1rem;
      background-color: black;
      margin: 0;
      width: 100%; }
    .footer__redes {
      display: flex;
      justify-content: space-around; }
    .footer__redes a {
      margin-top: 5px;
      text-decoration: none;
      color: black; }
    .footer__redes a i {
      font-size: 45px; }
    .footer__redes a:hover {
      color: black; }
    .footer .icon {
      font-size: 30px;
      margin-right: 10px; }
    .footer__lista {
      padding: 0; }
    .footer__lista li {
      list-style: none;
      margin: 20px 0; }
    .footer__nav-link {
      font-size: 1rem;
      text-decoration: none;
      color: black; }
    .footer__nav-link:hover {
      color: black; } }

.header-container_q {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  z-index: 1;
  top: 30%; }
  .header-container_q__container {
    background: rgba(0, 0, 0, 0.7);
    margin: 0rem 2rem 0 0;
    border-radius: 5%; }
  .header-container_q__p {
    color: white;
    font-size: 1.1rem;
    padding: 1.2rem 1.5rem 0 1.5rem;
    margin: 0rem 0rem 0 0;
    width: 40.5rem;
    text-align: justify; }
    .header-container_q__p span {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
      padding: 0rem 0.5rem 0 0.5rem;
      font-size: 1.5rem;
      text-decoration: underline;
      text-shadow: 0px 0px 10px; }
  .header-container_q__img_q {
    width: 25rem;
    height: 35rem;
    border-radius: 5%;
    box-shadow: 0px 0px 50px #5a5959; }
  .header-container_q__img a:hover {
    color: white;
    transform: scale(1.1); }
  .header-container_q__img_q img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5%; }

.footer_q {
  margin-top: 10rem; }
  .footer_q__fondo {
    width: 100%;
    z-index: 1; }
  .footer_q__fondo-movil {
    display: none; }
  .footer_q__contenedor {
    width: 100%;
    height: 100%;
    max-height: 500px;
    position: absolute;
    z-index: 3;
    background-image: url("../img/layered-peaks-haikei.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .footer_q__contenedor1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50%; }
  .footer_q__titulo {
    font-size: 2rem; }
  .footer_q__contenedor2 {
    display: flex;
    justify-content: center;
    margin-top: 200px; }
  .footer_q__contenedor2 p {
    color: white;
    font-weight: bolder; }
  .footer_q__redes {
    display: flex;
    justify-content: space-around; }
  .footer_q__redes a {
    margin-top: 10px;
    text-decoration: none;
    color: black; }
  .footer_q__redes a i {
    font-size: 50px; }
  .footer_q__redes a:hover {
    color: black; }
  .footer_q .icon {
    font-size: 35px;
    margin-right: 10px; }
  .footer_q__lista {
    padding: 0; }
  .footer_q__lista li {
    list-style: none;
    margin: 20px 0; }
  .footer_q__nav-link {
    font-size: 1.1rem;
    text-decoration: none;
    color: black; }
  .footer_q__nav-link:hover {
    color: black; }
