* {
  box-sizing: border-box;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: sans-serif; }

.header {
  max-width: 100%;
  margin-bottom: 4rem; }

.nav {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute; }

.nav-menu {
  display: flex;
  list-style: none; }

.nav-menu-item {
  font-size: 18px;
  text-transform: uppercase;
  color: black; }

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px; }

.nav-menu-link:hover {
  background-color: #cac7c7;
  transition: .5s; }

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: black !important; }

.logo img {
  height: 150px;
  width: 500px; }

.carousel-control-prev {
  height: 100px;
  margin: auto 0;
  z-index: 3; }

.carousel-control-next {
  height: 100px;
  margin: auto 0;
  z-index: 3; }

.nav-toggle {
  color: black;
  background: none;
  border: none;
  font-size: 50px;
  padding: 0 20px;
  line-height: 60px;
  display: none; }

.carousel-item img {
  height: 100vh;
  object-fit: cover; }

.header-container {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  z-index: 1;
  top: 40%; }
  .header-container__h2 {
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    padding: 2rem;
    margin: 2rem 2rem 0 0;
    width: 37.5rem; }
  .header-container__img {
    width: 21rem;
    height: 27rem;
    border-radius: 25%; }
  .header-container__img a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    padding-left: 6rem;
    padding-top: 2rem;
    z-index: 4;
    text-decoration: black underline;
    transition: .5s; }
  .header-container__img a:hover {
    color: white;
    transform: scale(1.1); }
  .header-container__img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10%; }

@media (max-width: 768px) {
  .nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    padding: 0; }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-color: #cac7c7;
    position: fixed;
    margin-right: 20px;
    left: 0;
    top: 100px;
    width: 100%;
    padding: 20px 0;
    left: 100%;
    transition: left 0.3s; }
  .nav-menu-item {
    font-size: 18px;
    text-transform: uppercase;
    color: black; }
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px; }
  .nav-menu-link:hover {
    background: none;
    color: #cac7c7;
    transition: .5s; }
  .nav-link {
    text-decoration: none;
    font-weight: bold;
    color: black !important; }
  .logo img {
    height: 100px;
    width: 250px;
    margin: auto; }
  .carousel-control-prev {
    height: 100px;
    margin: auto 0; }
  .carousel-control-next {
    height: 100px;
    margin: auto 0; }
  .nav-toggle {
    display: block;
    cursor: pointer; }
  .nav-menu_visible {
    left: 0; }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none; }
  .carousel-item img {
    height: 100vh;
    object-fit: cover; }
  .header-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    margin: 0 auto; }
    .header-container__h2 {
      text-align: center;
      color: white;
      font-weight: bolder;
      font-size: 2.5rem;
      padding: 0;
      margin: 0;
      margin-bottom: 2rem;
      width: 100%; }
    .header-container__img {
      width: 100%;
      max-width: 400px;
      height: 15rem;
      border-radius: 25%;
      margin: 0 auto; }
    .header-container__img img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 10%; } }
