*{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    font-family: sans-serif;
}

.header{
    max-width: 100%;
    margin-bottom: 3rem;
}
.nav{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    }
.nav-menu{
    display: flex;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    text-transform: uppercase;
    color: black;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: rgb(202, 199, 199);
    transition: .5s;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
    color: black !important;
}
.logo img{
    height: 150px;
    width: 500px;
}

.carousel-control-prev{
    height: 100px;
    margin: auto 0;
    z-index: 3;
}

.carousel-control-next{
    height: 100px;
    margin: auto 0;
    z-index: 3;
}

.nav-toggle{
    color: black;
    background: none;
    border:none;
    font-size: 50px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

.carousel-item img{
    height: 100vh;
    object-fit: cover;
}

.header-container{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    z-index: 1;
    top: 40%;

    &__h2{
        color: white;
        font-weight: bolder;
        font-size: 4rem;
        padding: 2rem;
        margin: 2rem 2rem 0 0;
        width: 37.5rem;
    }

    &__img{
        width: 21rem;
        height: 27rem;
        border-radius: 25%;
    }

    &__img a{
        text-decoration: none;
        color: white;
        font-size: 2rem;
        font-weight: bolder;
        position: absolute;
        padding-left: 6rem;
        padding-top: 2rem;
        z-index: 4;
        text-decoration: black underline;
        transition: .5s;
    }

    &__img a:hover{
        color: white;
        transform: scale(1.1);
    }

    &__img img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 10%;
    }
}
.main{
    display: flex;

    &__actividades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__sumate{
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
    }

    &__sumate h3{
        text-align: center;
        font-size: 3rem;
        padding: 0 30%;
    }
    &__sumate p{
        text-align: center;
        padding: 3rem 30%;
        font-size: 1.5rem;
    }

    &__actividades-lista{
        width: 100%;
        height: 900px;
        display: flex;
        margin-bottom: 100px; 
    }
    &__actividades-lista img{
        object-fit: cover;
        width: 100%;
    }

    &__contenedor{
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 900px;
        justify-content: center;
    }

    &__actividad{
        background: rgba(0,0,0,0.7);
        z-index: 3;
        height: 400px;
        width: 400px;
        margin: auto 15px;
        border-radius: 5%;
        text-align: center;
    }
    &__actividad a{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        font-weight: bolder;
    }

    &__actividad a:hover{
        color: white;
    }

    &__actividad img{
        padding: 10px;
        height: 350px;
        border-radius: 10%;
    }


}

.footer{
    

    &__fondo{
        width: 100%;
        z-index: 1;
    }

    &__contenedor{
        width: 100%;
        height: 100%;
        max-height: 500px;
        position: absolute;
        z-index: 3;
        top: 2600px;
    }

    &__contenedor1{
        display: flex;
        width: 100%;
        justify-content: space-around;
        height: 50%;
    }

    &__titulo{
        font-size: 2rem;
    }

    &__contenedor2{
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }

    &__contenedor2 p{
        color: white;
        font-weight: bolder;
    }

    &__redes{
        display: flex;
        justify-content: space-around;
    }

    &__redes a{
        margin-top: 10px;
        text-decoration: none;
        color: black;
    }

    &__redes a i{
        font-size: 50px;
    }

    &__redes a:hover{
        color: black;
    }

    .icon{
        font-size: 35px;
        margin-right: 10px;
    }
    &__lista{
        padding: 0;
    }
    &__lista li{
        list-style: none;
        margin: 20px 0;
    }
    &__nav-link{
        font-size: 1.1rem;
        text-decoration: none;
        color: black;
    }

    &__nav-link:hover{
        color: black;
    }
    
}


